@media screen and (max-width: 768px) {
  .large-carousel-box {
    flex-direction: column;
  }

  .carousel-inner {
    margin-bottom: 10px;
  }

  .dropdown-content {
    top: 100%;
    width: 100vw;
  }

  .home-btn {
    padding: 0 5px 0 0;
  }

  #search-btn {
    padding: 0 0 0 5px;
  }

  #movie-name {
    width: 65vw; /* Adjust as needed */
    margin-left: 0;
  }

  .search {
    margin: 8px 0;
  }

  .menu-btn {
    padding: 0;
  }

  .add-to-watchlist-btn {
    width: 100%;
  }

  .about-container {
    width: 90vw;
  }
}

@media screen and (max-width: 480px) {
  .genre-btn {
    height: 7rem;
    font-size: 1rem;
    width:  7rem;
  }

  .movie-card {
    width: 185px;
    padding: 5px;
  }
}